{% extends './layouts/base.html' %}

{% block content %}
    <h1>Juanjo Ruiz - Fotógrafo</h1>
    <div class="about">
        <img src="https://picsum.photos/400/200" alt="">
        <div class="about-content">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius minus quas est aliquam voluptates odio dolores? Maxime magnam, nemo perferendis at aut eveniet molestiae voluptatum quidem, facilis, nam quae.</p>
        </div>
    </div>
{% endblock content %}